body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
.header{
    background-color: #1D252C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #333;
    height: 65px;
}
.logoContainer{
    margin: 0;
    width: 200px;
    height: inherit;
}
.logo{
    width: 250px;
    object-fit: cover;
}
.menu{
    height: inherit;
    display: inherit;
}
.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    height: inherit;
    display: inherit;
}
.menu ul li{
    height: inherit;
    display: inherit;
    margin: 0 5px;
}
.link{
    height: inherit;
    display: block;
    padding: 0 15px;
    display: inherit;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
}
.hero{
    height: 300px;
    padding-left: 20px;
    background-image: url(./images/Selfie.jpg);
    background-color: #1D252C;
    background-size: 300px;
    background-repeat: no-repeat;
    background-position-x: right;
    display: flex;
    align-items: center;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-family: 'Fjalla One', sans-serif;
}
h1{
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -0.2px;
    color: #FFFFFF;
}
h2{
    color: #75AABA;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin: 10px 0 30px 25px;
}
h1 strong{
    color: #75AABA;
}
.portfolio{
    background-color: #FAFAFA;
    padding: 20px;
}
.proyect{
    background-color: #FFFFFF;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.proyect-details{
    width: 500px;
}
.proyect-title{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}
.proyect-date,
.proyect-link{
    margin: 10px 0;
}
.proyect-description{
    font-size: 20px;
}
.proyect-imageContainer{
    width: 333px;
    margin: 0;
}
.proyect-image{
    width: inherit;
}
.event-list h2{
    margin: 0;
    margin-left: 45px;
}
.event-container{
    padding: 30px 50px;
    display: flex;
    flex-wrap: wrap;
}
.event{
    width: 450px;
    margin: 0 15px 30px;
    background-color: #F4FBFF;
    border-radius: 10px;
    overflow: hidden;
}
.event-imageContainer{
    margin: 0;
    width: inherit;
}
.event-image{
    width: inherit;
    height: 250px;
    object-fit: cover;
}
.event-details{
    width: 350px;
    margin: 20px auto;
    margin-top: -40px;
    padding: 20px;
    text-align: center;
    background-color: #FFFFFF;
    position: relative;
    border-radius: 3px;
}
.event-link{
    border: 1px solid #75AABA;
    padding: 5px 20px;
    text-decoration: none;
    color: #75AABA;
}
.contact{
    background-color: #75AABA;
    color: #FFFFFF;
    padding: 40px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form h3{
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
}
.form input{
    margin: 20px 0;
    display: block;
}
.form-email{
    width: 300px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    padding-left: 20px;
}
.form-button{
    background-color: #75AABA;
    font-size: 20px;
    color: #FFFFFF;
    width: 150px;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}
.footer{
    background-color: #1D252C;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}
.cursoPlatzi{
    display: inherit;
    align-items: center;
}
.cursoPlatzi p img{
    width: 80px;
    vertical-align: middle;
}
.agradecimiento p a{
    color: #75AABA;
}