body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
.header{
    background-color: #1D252C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #333;
    height: 65px;
}
.logoContainer{
    margin: 0;
    width: 200px;
    height: inherit;
}
.logo{
    width: 250px;
    object-fit: cover;
}
.menu{
    height: inherit;
    display: inherit;
}
.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    height: inherit;
    display: inherit;
}
.menu ul li{
    height: inherit;
    display: inherit;
    margin: 0 5px;
}
.link{
    height: inherit;
    display: block;
    padding: 0 15px;
    display: inherit;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
}
.hero{
    height: 300px;
    padding-left: 20px;
    background-image: url(./images/Selfie.jpg);
    background-color: #1D252C;
    background-size: 300px;
    background-repeat: no-repeat;
    background-position-x: right;
    display: flex;
    align-items: center;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-family: 'Fjalla One', sans-serif;
}
h1{
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -0.2px;
    color: #FFFFFF;
}
h1 strong{
    color: #75AABA;
}
.portfolio{
    background-color: #FAFAFA;
}
.proyect{
    background-color: #FFFFFF;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 15px;
    padding: 20px;
    display: flex;
}
.proyect-details{
    width: 500px;
}
.proyect-imageContainer{
    width: 500px;
}
.footer{
    background-color: #1D252C;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}
.cursoPlatzi{
    display: inherit;
    align-items: center;
}
.cursoPlatzi p img{
    width: 80px;
    vertical-align: middle;
}
.agradecimiento p a{
    color: #75AABA;
}